# Jekyll
_site/
.jekyll-cache/

# Mapas y compilados
*.map
assets/img/1892-01-26-bessie_coleman_avion_curtiss_jn‑4d.jpeg
assets/img/1879-01-12-calbraith_perry_rodgers.jpg
assets/img/1879-01-12-calbraith_rodgers_en_vin_fiz.jpeg
assets/img/1879-01-12-calbraith_rodgers_en_vin_fiz.jpeg
