# Jekyll
_site/
.jekyll-cache/
.sass-cache/
.jekyll-metadata

# Archivos temporales
*.log
*.tmp

# Mapas de compilación
*.map

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de borradores o base
base-posts/

# Opcional: ignorar todas las imágenes si no quieres subirlas
# assets/img/*.jpg
# assets/img/*.jpeg
# assets/img/*.png

